<header class="app-header">
  <div class="user-info">
    <div class="avatar-ring">
      <img alt="User profile" class="avatar-img" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCuYLYNj7qdAknQMiv2DnSMjsoGaEscNZahMrsH42cS4JtNuAidy_peC1Q5pM2C4RkOM7aoMv9NMyaa8hwt1_YlBXb_Br7rSIPZel2No_a34l3hkoRXpsHF_yXzMYdeVRpYwqm75palvYA6kun9m9P52aq68qSCVbssXEq8vLOYJ-96z83FnXVCdTkMihs6aYOpgcpP-TqUjrHPe1fD-_V6AUDLPs2mMaCnRcx-qeLPR-dDoWORRG7PaEf39yRDARUPiQltU3-NqGo"/>
    </div>
    <div class="welcome-text">
      <p class="greeting">Welcome back,</p>
      <h1 class="user-name">Alex</h1>
    </div>
  </div>
  <div class="actions">
    <button class="action-btn">
      <span class="material-symbols-outlined">calendar_today</span>
    </button>
  </div>
</header>
